.foto {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ubj {
    width: 50%;
}

.gdsc {
    width: 50%;
}

.profile {
    width: 50%;
}